/*
    kernel.css v0.6.0
    MIT License
    github.com/ionogy/kernel.css
*/
.ion-bg-red {
    background-color: #f44336 !important;
  }
  .ion-bg-pink {
    background-color: #e91e63 !important;
  }
  .ion-bg-purple {
    background-color: #9c27b0 !important;
  }
  .ion-bg-deep-purple {
    background-color: #673ab7 !important;
  }
  .ion-bg-indigo {
    background-color: #3f51b5 !important;
  }
  .ion-bg-blue {
    background-color: #2196f3 !important;
  }
  .ion-bg-light-blue {
    background-color: #03a9f4 !important;
  }
  .ion-bg-cyan {
    background-color: #00bcd4 !important;
  }
  .ion-bg-teal {
    background-color: #009688 !important;
  }
  .ion-bg-green {
    background-color: #4caf50 !important;
  }
  .ion-bg-light-green {
    background-color: #8bc34a !important;
  }
  .ion-bg-lime {
    background-color: #cddc39 !important;
  }
  .ion-bg-yellow {
    background-color: #ffeb3b !important;
  }
  .ion-bg-amber {
    background-color: #ffc107 !important;
  }
  .ion-bg-orange {
    background-color: #ff9800 !important;
  }
  .ion-bg-deep-orange {
    background-color: #ff5722 !important;
  }
  .ion-bg-brown {
    background-color: #795548 !important;
  }
  .ion-bg-grey {
    background-color: #9e9e9e !important;
  }
  .ion-bg-blue-grey {
    background-color: #607d8b !important;
  }
  .ion-bg-black {
    background-color: #000 !important;
  }
  .ion-bg-white {
    background-color: #fff !important;
  }
  .ion-bg-transparent {
    background-color: transparent !important;
  }
  .ion-anchor {
    color: #0091ea;
    text-decoration: none;
    overflow-wrap: break-word;
  }
  .ion-circle {
    border-radius: 50%;
  }
  .ion-hr {
    background-color: #eee;
    border: 0;
    border-radius: 50px;
    height: 1px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .ion-section,
  .ion-grid,
  .ion-splitview {
    margin: 15px 0;
  }
  .ion-noshadow {
    box-shadow: none;
    text-shadow: none;
  }
  .ion-center {
    margin: auto;
  }
  .ion-vertical-center {
    position: relative;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
  }
  .ion-fixed-top {
    position: fixed;
    top: 0;
  }
  .ion-fixed-bottom {
    position: fixed;
    bottom: 0;
  }
  .ion-ul,
  .ion-ol {
    line-height: 1.8;
  }
  .ion-autowrap {
    overflow-wrap: break-word;
  }
  .ion-base {
    color: #263238;
    font: 1em 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Ubuntu', 'Arial', 'sans-serif';
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  .ion-base p {
    line-height: 1.6;
  }
  .ion-base h1,
  .ion-base h2,
  .ion-base h3,
  .ion-base h4,
  .ion-base h5,
  .ion-base h6 {
    font-weight: 400;
  }
  .ion-base h1 {
    font-size: 2.441em;
  }
  .ion-base h2 {
    font-size: 1.953em;
  }
  .ion-base h3 {
    font-size: 1.563em;
  }
  .ion-base h4 {
    font-size: 1.25em;
  }
  .ion-base h5 {
    font-size: 1em;
  }
  .ion-base h6 {
    font-size: 0.8em;
  }
  .ion-rtl {
    direction: rtl;
    unicode-bidi: embed;
  }
  .ion-modern {
    color: #263238;
    font: 1em 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Ubuntu', 'Arial', 'sans-serif';
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  .ion-modern p {
    line-height: 1.6;
    font-size: 1.05em;
  }
  .ion-modern h1,
  .ion-modern h2,
  .ion-modern h3,
  .ion-modern h4,
  .ion-modern h5,
  .ion-modern h6 {
    font-weight: 300;
  }
  .ion-modern h1 {
    font-size: 2.6179em;
  }
  .ion-modern h2 {
    font-size: 2.0581em;
  }
  .ion-modern h3 {
    font-size: 1.618em;
  }
  .ion-modern h4 {
    font-size: 1.272em;
  }
  .ion-modern h5 {
    font-size: 1em;
  }
  .ion-modern h6 {
    font-size: 0.7862em;
  }
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2") format('woff2');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .material-icons.md-18 {
    font-size: 18px;
  }
  .material-icons.md-24 {
    font-size: 24px;
  }
  .material-icons.md-36 {
    font-size: 36px;
  }
  .material-icons.md-48 {
    font-size: 48px;
  }
  .ion-grid,
  .ion-splitview {
    display: flex;
  }
  .ion-grid .ion-col-1,
  .ion-splitview .ion-col-1 {
    flex: 1;
  }
  .ion-grid .ion-col-2,
  .ion-splitview .ion-col-2 {
    flex: 2;
  }
  .ion-grid .ion-col-3,
  .ion-splitview .ion-col-3 {
    flex: 3;
  }
  .ion-grid .ion-col-4,
  .ion-splitview .ion-col-4 {
    flex: 4;
  }
  .ion-grid .ion-col-5,
  .ion-splitview .ion-col-5 {
    flex: 5;
  }
  .ion-grid .ion-col-6,
  .ion-splitview .ion-col-6 {
    flex: 6;
  }
  .ion-grid .ion-col-7,
  .ion-splitview .ion-col-7 {
    flex: 7;
  }
  .ion-grid .ion-col-8,
  .ion-splitview .ion-col-8 {
    flex: 8;
  }
  .ion-grid .ion-col-9,
  .ion-splitview .ion-col-9 {
    flex: 9;
  }
  .ion-grid .ion-col-10,
  .ion-splitview .ion-col-10 {
    flex: 10;
  }
  .ion-grid .ion-col-11,
  .ion-splitview .ion-col-11 {
    flex: 11;
  }
  .ion-grid .ion-col-12,
  .ion-splitview .ion-col-12 {
    flex: 12;
  }
  .ion-grid .ion-col-13,
  .ion-splitview .ion-col-13 {
    flex: 13;
  }
  .ion-grid .ion-col-14,
  .ion-splitview .ion-col-14 {
    flex: 14;
  }
  .ion-grid .ion-col-15,
  .ion-splitview .ion-col-15 {
    flex: 15;
  }
  .ion-grid .ion-col-16,
  .ion-splitview .ion-col-16 {
    flex: 16;
  }
  [class*='ion-col-'] {
    margin-right: 30px;
  }
  [class*='ion-col-']:last-of-type {
    margin-right: 0;
  }
  .ion-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .ion-visible-sm {
    display: none;
  }
  .ion-visible-lg {
    display: block;
  }
  @media (max-width: 800px) {
    .ion-grid,
    .ion-splitview {
      flex-direction: column;
    }
    .ion-container {
      width: 100%;
    }
    [class*='ion-col-'] {
      margin-right: 0;
    }
    .ion-visible-sm {
      display: block;
    }
    .ion-visible-lg {
      display: none;
    }
  }
  .ion-fade-in {
    animation-name: fadeIn;
    animation-duration: 175ms;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .ion-button {
    background-color: #fafafa;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.85em;
    height: 36px;
    min-width: 95px;
    outline: 0;
    padding: 0 15px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    text-transform: uppercase;
  }
  .ion-button.ion-btn-default {
    background-color: #f5f5f5;
    border-radius: 3px;
    color: rgba(0,0,0,0.8);
  }
  .ion-button.ion-btn-default:hover {
    background-color: #ddd;
  }
  .ion-button.ion-btn-default:active {
    transform: scale(0.95);
  }
  .ion-button.ion-btn-primary {
    background-color: #00b0ff;
    border-radius: 3px;
    color: #fff;
  }
  .ion-button.ion-btn-primary:hover {
    background-color: #009ee6;
  }
  .ion-button.ion-btn-primary:active {
    transform: scale(0.95);
  }
  .ion-button.ion-btn-safe {
    background-color: #2ecc71;
    border-radius: 3px;
    color: #fff;
  }
  .ion-button.ion-btn-safe:hover {
    background-color: #29b866;
  }
  .ion-button.ion-btn-safe:active {
    transform: scale(0.95);
  }
  .ion-button.ion-btn-warning {
    background-color: #ffc400;
    border-radius: 3px;
    color: #fff;
  }
  .ion-button.ion-btn-warning:hover {
    background-color: #e6b000;
  }
  .ion-button.ion-btn-warning:active {
    transform: scale(0.95);
  }
  .ion-button.ion-btn-risk {
    background-color: #f44336;
    border-radius: 3px;
    color: #fff;
  }
  .ion-button.ion-btn-risk:hover {
    background-color: #f2291a;
  }
  .ion-button.ion-btn-risk:active {
    transform: scale(0.95);
  }
  .ion-button.ion-btn-minimal {
    background-color: transparent;
    color: #2196f3;
  }
  .ion-button.ion-btn-minimal:hover {
    color: #1e88e5;
  }
  .ion-button.ion-btn-minimal:active {
    transform: scale(0.95);
  }
  .ion-button.ion-btn-lg {
    font-size: 1.1em;
    height: 50px;
    line-height: 50px;
  }
  a.ion-button {
    display: inline-block;
    line-height: 36px;
    text-align: center;
  }
  .ion-input-text {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-family: inherit;
    margin: 15px 0;
    width: 100%;
    padding: 8px;
    transition: border 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .ion-input-text:focus {
    border: 1px solid #0091ea;
    outline: 0;
  }
  .ion-select {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #757575;
    display: block;
    font-family: inherit;
    margin: 15px 0;
    padding: 8px;
    padding-left: 5px;
    width: 100%;
  }
  .ion-select:focus {
    border: 1px solid #0091ea;
    outline: 0;
  }
  .ion-header {
    background-color: #fff;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    width: 100%;
    z-index: 999;
  }
  .ion-header.ion-header-xs {
    height: 48px;
    line-height: 48px;
  }
  .ion-header.ion-header-sm {
    height: 60px;
    line-height: 60px;
  }
  .ion-header.ion-header-md {
    font-size: 1.1em;
    height: 70px;
    line-height: 70px;
  }
  .ion-header.ion-header-lg {
    font-size: 1.4em;
    height: 95px;
    line-height: 95px;
  }
  .ion-header.ion-header-xl {
    font-size: 1.4em;
    height: 150px;
  }
  .ion-header .nav-toggle {
    background-color: #eee;
    border-radius: 3px;
    border: 0;
    display: none;
    float: right;
    margin-right: 15px;
    outline: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .ion-header .ion-nav ul li:hover {
    border-bottom: 3px solid #ccc;
  }
  .ion-menu {
    background-color: rgba(0,0,0,0.95);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .ion-menu i {
    color: #fff;
    cursor: pointer;
    font-size: 68px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .ion-menu i:hover {
    transform: rotate(180deg);
  }
  .ion-menu ul {
    list-style-type: none;
    padding-left: 20px;
  }
  .ion-menu ul li a {
    color: rgba(255,255,255,0.9);
    font-size: 1.7em;
    text-align: center;
    text-decoration: none;
  }
  .ion-header-brand {
    float: left;
    font-family: inherit;
    font-size: 1.7em;
    padding-left: 15px;
  }
  .ion-header-mobile {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    overflow-y: auto;
    max-height: 50vh;
  }
  .ion-header-mobile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .ion-header-mobile ul li {
    display: block;
  }
  .ion-header-mobile ul li a {
    color: #212121;
    display: block;
    font-size: 1.4em;
    padding: 7px 15px;
    text-decoration: none;
    transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .ion-header-mobile ul li a:hover {
    background: #eee;
  }
  @media (max-width: 800px) {
    .ion-header .ion-nav {
      display: none;
    }
    .ion-header .nav-toggle {
      display: inline-block;
    }
  }
  .ion-nav {
    display: inline-block;
  }
  .ion-nav .ion-nav-active-state {
    border-bottom: 3px solid #ccc;
  }
  .ion-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .ion-nav ul li {
    display: inline-block;
    transition: border 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .ion-nav ul li a {
    color: #212121;
    display: block;
    outline: 0;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .ion-hero {
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 75px 0;
    text-align: center;
  }
  .ion-hero h1,
  .ion-hero h2,
  .ion-hero h3,
  .ion-hero h4,
  .ion-hero h5,
  .ion-hero h6 {
    margin: 0;
  }
  .ion-hero h1 {
    font-size: 8.5em;
  }
  .ion-hero h2 {
    font-size: 6.5em;
  }
  .ion-hero h3 {
    font-size: 4.5em;
  }
  .ion-hero h4 {
    font-size: 2.5em;
  }
  .ion-hero p {
    font-size: 1.5em;
  }
  .ion-sidebar {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    height: 100vh;
    position: fixed;
    transition: width 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 60px;
    z-index: 999;
  }
  .ion-sidebar +.ion-splitview-main {
    margin-left: 60px;
  }
  .ion-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .ion-sidebar ul li {
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 1px 4px rgba(0,0,0,0.9);
    transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
    white-space: nowrap;
  }
  .ion-sidebar ul li i {
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    padding-left: 18px;
  }
  .ion-sidebar ul li img {
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    height: 26px;
    margin: 15px 0 7px 17px;
    width: 26px;
  }
  .ion-sidebar ul li .item-name {
    color: #fff;
    display: inline;
    font-weight: normal;
    line-height: 48px;
    margin-left: 15px;
    vertical-align: top;
  }
  .ion-sidebar ul li:hover {
    background: rgba(255,255,255,0.07);
    border-left: 3px solid #448aff;
  /*
        -webkit-clip-path: polygon(0 0, 100% 6%, 99% 93%, 0 100%);
        clip-path: polygon(0 0, 100% 6%, 99% 93%, 0 100%);
        */
  }
  .ion-splitview {
    margin: 0;
  }
  .ion-splitview .ion-splitview-main {
    flex: 1;
  }
  .ion-card {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    margin: 15px 0;
  }
  .ion-card .ion-card-header {
    height: 150px;
    position: relative;
    text-align: center;
  }
  .ion-card .ion-card-header .ion-header-title {
    bottom: 15px;
    color: #fff;
    font-size: 2em;
    left: 15px;
    position: absolute;
  }
  .ion-card .ion-card-header img {
    height: 150px;
    object-fit: cover;
    width: 100%;
  }
  .ion-card .ion-card-header h2 {
    bottom: 0;
    color: #fff;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding: 15px;
    position: absolute;
    text-shadow: 0 1px 4px rgba(0,0,0,0.9);
  }
  .ion-card .ion-card-content {
    line-height: 1.5em;
    padding: 15px;
  }
  .ion-card .ion-card-content hr {
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 0;
  }
  .ion-card.ion-card-sm {
    max-width: 100%;
    width: 400px;
  }
  .ion-card.ion-card-md {
    max-width: 100%;
    width: 600px;
  }
  .ion-card.ion-card-lg {
    width: 100%;
  }
  .ion-card.ion-card-center {
    margin: 0 auto;
  }
  .ion-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .ion-table thead {
    background-color: #f5f5f5;
  }
  .ion-table thead th {
    font-weight: 600;
  }
  .ion-table tbody tr {
    border-bottom: 1px solid #eee;
  }
  .ion-table tbody tr:last-child {
    border: 0;
  }
  .ion-table td,
  .ion-table th {
    padding: 15px;
    text-align: left;
  }
  .ion-footer {
    height: 200px;
    text-align: center;
  }
  .ion-footer .ion-nav ul li a {
    color: #2196f3;
    font-size: 1.1em;
    margin-bottom: 15px;
    padding: 15px;
  }
  .ion-footer-header {
    background: #f5f5f5;
    color: #212121;
    font-size: 1.6em;
    line-height: 200px;
  }
  .ion-notice {
    animation: fadein 0.5s;
    background: #eee;
    border-radius: 3px;
    box-sizing: border-box;
    color: #212121;
    line-height: 40px;
    min-height: 40px;
    padding: 0 15px;
    width: 100%;
    z-index: 999;
  }
  .ion-notice.ion-safe {
    background: #2ecc71;
    color: #fafafa;
  }
  .ion-notice.ion-info {
    background: #5ac8fa;
    color: #fafafa;
  }
  .ion-notice.ion-alert {
    background: #ff3b30;
    color: #fafafa;
  }
  .ion-notice.ion-warning {
    background: #fc0;
    color: #fafafa;
  }
  .ion-notice .material-icons {
    cursor: pointer;
    float: right;
    line-height: 40px;
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .ion-code {
    background-color: #fafafa;
    border-radius: 5px;
    color: #e91e63;
    display: inline-block;
    font-family: monospace;
    line-height: 1.6;
  }
  .ion-code.ion-code-block {
    background-color: #f5f5f5;
    box-sizing: border-box;
    color: #212121;
    overflow-x: auto;
    padding: 15px;
    white-space: pre-wrap;
    width: 100%;
  }
  .ion-progressbar {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    height: 25px;
    margin: 5px 0;
    width: 100%;
  }
  .ion-progressbar .ion-progress {
    background-color: #2196f3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    color: #fff;
    height: 25px;
    line-height: 25px;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    width: 0;
  }
  .ion-message {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    height: 250px;
    left: 0;
    padding: 15px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 999;
  }
  .ion-message header {
    margin-bottom: 15px;
  }
  .ion-tabs {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
  }
  .ion-tabs >ul:first-child {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 10px 0;
  }
  .ion-tabs >ul:first-child >li {
    display: inline;
  }
  .ion-tabs >ul:first-child >li:not(:first-of-type) {
    padding-left: 10px;
  }
  .ion-tabs >ul:first-child >li >a {
    color: #263238;
    text-decoration: none;
    cursor: pointer;
  }
  .ion-tabs >div:not(:first-of-type) {
    display: none;
  }
  .ion-label {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    color: #bdbdbd;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 600;
    min-width: 95px;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
  }
  .ion-label.ion-safe {
    border-color: #2ecc71;
    color: #2ecc71;
  }
  .ion-label.ion-info {
    border-color: #5ac8fa;
    color: #5ac8fa;
  }
  .ion-label.ion-alert {
    border-color: #ff3b30;
    color: #ff3b30;
  }
  .ion-label.ion-warning {
    border-color: #fc0;
    color: #fc0;
  }
  .ion-tag {
    background-color: #e0e0e0;
    border-radius: 10px;
    color: inherit;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    min-width: 15px;
    padding: 4px 7px;
    text-decoration: none;
  }